@import 'https://fonts.googleapis.com/css?family=Open+Sans|Space+Mono';
@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

body {
  background-color: black;
  color: white;
  /* Pushes content below fixed-top navbar */
  padding-top: 5em;
}

::selection {
  background-color: #cc0000;
  color: white;
}

/* Navbar Styling
// I copy-pasted the navbar-default rules from bootstrap.css, then edited them to 
// create a custom navbar.
*/

.navbar-minimal {
  background-color: black;
  padding-top: 1em;
}

.navbar-minimal .navbar-brand {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.navbar-minimal .navbar-brand:hover,
.navbar-minimal .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.navbar-minimal .navbar-text {
  color: #777;
}

.navbar-minimal .navbar-nav > li > a {
  color: white;
  font-family: 'Space Mono', monospace;
  padding-bottom: .5em;
  padding-top: .5em;
  background-color: black;
}
.navbar-minimal .navbar-nav > li > a:hover,
.navbar-minimal .navbar-nav > li > a:focus {
  border-bottom: .1em solid black;
  background-color: #cc0000;
}
.navbar-minimal .navbar-nav > .active > a,
.navbar-minimal .navbar-nav > .active > a:hover,
.navbar-minimal .navbar-nav > .active > a:focus {
  border-bottom: .1em solid black;
}
.navbar-minimal .navbar-nav > .disabled > a,
.navbar-minimal .navbar-nav > .disabled > a:hover,
.navbar-minimal .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-minimal .navbar-toggle {
  border-color: transparent;
}
.navbar-minimal .navbar-toggle:hover,
.navbar-minimal .navbar-toggle:focus {
  background-color: dark#7acc00;
}

.navbar-minimal .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-minimal .navbar-collapse,
.navbar-minimal .navbar-form {
  border-color: #e7e7e7;
}
.navbar-minimal .navbar-nav > .open > a,
.navbar-minimal .navbar-nav > .open > a:hover,
.navbar-minimal .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-minimal .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-minimal .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-minimal .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-minimal .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-minimal .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-minimal .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-minimal .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-minimal .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-minimal .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-minimal .navbar-link {
  color: #777;
}
.navbar-minimal .navbar-link:hover {
  color: #333;
}
.navbar-minimal .btn-link {
  color: #777;
}
.navbar-minimal .btn-link:hover,
.navbar-minimal .btn-link:focus {
  color: #333;
}
.navbar-minimal .btn-link[disabled]:hover,
fieldset[disabled] .navbar-minimal .btn-link:hover,
.navbar-minimal .btn-link[disabled]:focus,
fieldset[disabled] .navbar-minimal .btn-link:focus {
  color: #ccc;
}

/* < / navbar styling> */

/* Intro + some general styling */

.intro .container {

  padding: 7em;
  text-align: center;
}

.intro h1, 
.section-head, 
.caption h3 {
  font-family: 'Space Mono', monospace;
}

.intro h3, 
.caption {
  font-family: 'Open Sans', sans-serif;
}

.intro .glyphicon {
  font-size: 60%;
  color: #00FE44;
}

/* < / intro styling > */

/* Main body styling */

.section-head:before {
  content: "< ";
  font-size: 75%;
  color: #00FE44;
}

.section-head:after {
  content: " / >";
  font-size: 75%;
  color: #00FE44;
}

.section-head {
  margin-top: 1em;
  margin-bottom: 1em;
}

.about-text-content p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  border-left: .2em dotted #cc0000;
  padding-left: .8em;
  margin-bottom: .8em;
}

.section .container {
  /* background-color: #11190A;
  border-bottom: .2em solid black; 
  border-left: .2em dotted #cc0000;*/
  padding-bottom: 1em;
  padding-left: 2.3em;
  padding-right: 2.3em
}

/* < / general body styling > */




/* Form styling */

.form-minimal label {
  padding-top: 1.2em;
}

.form-minimal .control-label,
.form-minimal .control-label-textarea {
  font-family: 'Space Mono', monospace;
  font-size: 1em;
  text-align: center;
  cursor: text;
  transition: all 0.3s;
}

.form-minimal label input,
.form-minimal label textarea {
  background-color: transparent;
  border: 0;
  border-bottom: .1em solid white;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

/* Use control-labels as placeholders */
.form-minimal label .control-label {
  transform: translateY(-30px);
}

.form-minimal label .control-label-textarea {
  transform: translateY(-70px);
}

/* Move control-labels above input when active */
.form-minimal label input:focus + .control-label {
  outline: 0;
  font-size: .7em;
  color: #cc0000;
  transform: translateY(-53px);
}

.form-minimal label textarea:focus + .control-label-textarea {
  outline: 0;
  font-size: .7em;
  color: #cc0000;
  transform: translateY(-95px);
}

/* Prevent control-labels from blocking input if input is received */
.form-minimal label input:valid + .control-label {
  font-size: .7em;
  transform: translateY(-53px);
}

.form-minimal label textarea:valid + .control-label-textarea {
  font-size: .7em;
  transform: translateY(-95px);
}

/* Prevent default bootstrap form-control behavior on focus*/
.form-minimal .form-control:focus {
  border-bottom: .1em solid white;
  box-shadow: none;
}

.form-minimal button {
  color: black;
  text-align: center;
  font-family: 'Space Mono', monospace;
  transition: all 200ms;
}

.form-minimal button:hover, 
.form-minimal button:focus {
  background-color: #cc0000;
  color: white;
}

/* < / form styling > */

/* Social media styling
/* Code snippets from: 
/* https://codepen.io/cguillou/pen/LmCuJ/ */

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

.social #services {
  text-align: center;
  transform: translatez(0);
}

.social #services h2,
.form-head {
  font-size: 2em;
  font-family: 'Space Mono', monotype;
  text-align: center;
  border-bottom: .1em dotted #cc0000;
  padding-bottom: 0.5em;
}

.social #services li {
  width: 40px;
  height: 40px;
  margin: 20px;
  list-style: none;
  display: inline-block;
}

.social #services li div {
  width: 40px;
  height: 40px;
  color: #00FE44;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
  background-color: #000;
  transition: all 0.5s ease;
}

.social #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
  color: white;
  background-color: #cc0000;
  font-style: normal;
}

.social #services li a:link,
.social #services li a:hover, 
.social #services li a:visited,
.social #services li a:active {
  text-decoration: none;
}
