body {
  margin: 0;
  padding: 0;
  font-family: "sofiapro-light", sans-serif;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Fira Mono", monospace;
}

.App .navbar {
  font-family: "sofiapro-light";
  color: #222222;
}

.App .navbar-brand {
  font-family: "sofiapro-light";
  color: #222222;
}

.App .navdropdown {
  width: 100px !important;
}

.App .menuitem {
  width: 100px !important;
}

.App .jumbotron p {
  font-size: 19px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 6px;
  margin: 0 auto;
}

.App .jumbotron {
  align-items: center;
}

.App .glyphicon {
  font-size: 85%;
  /* color: #00FE44; */
}

.App .thumbnail {
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transition: transform 0.2s ease, box-shadow 0.2s ease, -webkit-transform 0.2s ease, -webkit-box-shadow 0.2s ease;
  will-change: transform, box-shadow;
  cursor: pointer;
}

.App .thumbnail:hover {
  -webkit-box-shadow: 0 16px 32px 0 rgba(10, 16, 34,0.20), 0 0 0 transparent;
  box-shadow: 0 16px 32px 0 rgba(10, 16, 34,0.20), 0 0 0 transparent;
  -webkit-transform: translateY(-5px) translateZ(0);
  transform: translateY(-5px) translateZ(0);
}

/* .App .right {
  float: right;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
} */

/* select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
} */
